                   <div class="mb-3">
                        {{ form_label(demandeCommercialeForm.secheuse.VIS_BRASSAGE, 'Vis Brassage supplémentaire', {'label_attr': {'class': 'mb-2 text-muted'}}) }}
                        {{ form_widget(demandeCommercialeForm.secheuse.VIS_BRASSAGE, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(demandeCommercialeForm.secheuse.VIS_BRASSAGE) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(demandeCommercialeForm.secheuse.PRENETTOYEUR, 'Pré-nettoyeur', {'label_attr': {'class': 'mb-2 text-muted'}}) }}
                        {{ form_widget(demandeCommercialeForm.secheuse.PRENETTOYEUR, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(demandeCommercialeForm.secheuse.PRENETTOYEUR) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(demandeCommercialeForm.secheuse.B2D, 'B2D', {'label_attr': {'class': 'mb-2 text-muted'}}) }}
                        {{ form_widget(demandeCommercialeForm.secheuse.B2D, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(demandeCommercialeForm.secheuse.B2D) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(demandeCommercialeForm.secheuse.DEBIT_VIS, 'Débit Vis', {'label_attr': {'class': 'mb-2 text-muted'}}) }}
                        {{ form_widget(demandeCommercialeForm.secheuse.DEBIT_VIS, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(demandeCommercialeForm.secheuse.DEBIT_VIS) }}
                    </div>
