{% extends 'base.html.twig' %}

{% block title %}Demande Commerciale - Secheuse{% endblock %}
       
{% block body %}

    <div class="container-fluid">
        <div class="row">

            <div class="col-1 ps-0">
                {{ include('demande_commerciale/sidebar/sidebar.html.twig') }}
            </div>

            <div class="col-lg-5 col ms-1">
                <div class="row justify-content-sm-center h-100 mt-4">
                    <div class="col">
                        <div class="card shadow-lg">
                            <div class="container card-body p-5">
                                {{ form_errors(demandeCommercialeForm) }}

                                {{ form_start(demandeCommercialeForm) }}

                                {% if type_demande == 'secheuse' %}
                                <h1 class="fs-4 card-title fw-bold mb-4">Demande Commerciale - Secheuse</h1>
                                {% endif %}
                                {% if type_demande == 'stockage' %}
                                <h1 class="fs-4 card-title fw-bold mb-4">Demande Commerciale - Stockage</h1>
                                {% endif %}
                                
                                <div class="mb-3">
                                    {{ form_label(demandeCommercialeForm.date, 'Date', {'label_attr': {'class': 'mb-2 text-muted'}}) }}
                                    {{ form_widget(demandeCommercialeForm.date, {'attr': {'class': 'form-control', 'required': '', 'autofocus': ''}}) }}
                                    {{ form_errors(demandeCommercialeForm.date) }}
                                </div>

                                <div class="mb-3">
                                    {{ form_label(demandeCommercialeForm.TYPE_DEMANDE, 'Type Demande', {'label_attr': {'class': 'mb-2 text-muted'}}) }}
                                    {{ form_widget(demandeCommercialeForm.TYPE_DEMANDE, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(demandeCommercialeForm.TYPE_DEMANDE) }}
                                </div>

                                <div class="mb-3">
                                    {{ form_label(demandeCommercialeForm.commentaire, 'Commentaire', {'label_attr': {'class': 'mb-2 text-muted'}}) }}
                                    {{ form_widget(demandeCommercialeForm.commentaire, {'attr': {'class': 'form-control'}}) }}
                                    {{ form_errors(demandeCommercialeForm.commentaire) }}
                                </div>
                                
                                {% if type_demande == 'secheuse' %}
                                    {# MODAL CLIENT #}
                                    <div class="modal fade" id="ModalClient" tabindex="-1" aria-labelledby="ModalClient" aria-hidden="true" >
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Informations Client</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                {{ include('demande_commerciale/Client/client.html.twig') }}
                                            </div>
                                        </div>
                                        </div>
                                    </div>

                                    {# MODAL SECHEUSE #}
                                    <div class="modal fade" id="ModalSecheuse" tabindex="-1" aria-labelledby="ModalSecheuse" aria-hidden="true" data-controller="tooltip">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    {{ include('demande_commerciale/secheuse/secheuse.html.twig') }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    {# MODAL OPTIONS #}
                                    <div class="modal fade" id="ModalOptions" tabindex="-1" aria-labelledby="ModalOptions" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5">Options</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{ include('demande_commerciale/options/options secheuse.html.twig') }}
                                        </div>
                                        </div>
                                    </div>
                                    </div>

                                    {# MODAL VIS MOBILE #}
                                    <div class="modal fade" id="ModalVisMobile" tabindex="-1" aria-labelledby="ModalVisMobiles" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                        <h1 class="modal-title fs-5">Vis Mobile</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{ include('demande_commerciale/vis mobile/vis mobile.html.twig') }}
                                        </div>
                                        </div>
                                    </div>
                                    </div>

                                {% endif %}

                                {% if type_demande == 'stockage' %}
                                    {# MODAL CLIENT #}
                                    <div class="modal fade" id="ModalClient" tabindex="-1" aria-labelledby="ModalClient" aria-hidden="true">
                                        <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Informations Client</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                {{ include('demande_commerciale/Client/client.html.twig') }}
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                
                                {{ include('demande_commerciale/stockage/stockage.html.twig') }}

                                {% endif %}
                            </div>
                            <div class="align-items-center d-flex">
                                <button type="submit" class="btn btn-primary ms-auto">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>

                {{ form_end(demandeCommercialeForm) }}
            </div>

            <div class="col-lg col-12">
                <div class="row justify-content-sm-center h-100 mt-4 m-2">
                    {{ include('demande_commerciale/preview/preview.html.twig') }}
                </div>
            </div>

        </div>
    </div>

    <div {{ stimulus_controller('form_view') }}></div>

{% endblock %}
