<div class="mb-3">
    {{ form_label(demandeCommercialeForm.secheuse.VIS_MOBILE, 'Vis Mobile', {'label_attr': {'class': 'mb-2 text-muted'}}) }}
    {{ form_widget(demandeCommercialeForm.secheuse.VIS_MOBILE, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(demandeCommercialeForm.secheuse.VIS_MOBILE) }}
</div>

<div class="mb-3">
    {{ form_label(demandeCommercialeForm.secheuse.SORTIE_ORIENTABLE, 'Sortie Orientable', {'label_attr': {'class': 'mb-2 text-muted'}}) }}
    {{ form_widget(demandeCommercialeForm.secheuse.SORTIE_ORIENTABLE, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(demandeCommercialeForm.secheuse.SORTIE_ORIENTABLE) }}
</div>

<div class="mb-3">
    {{ form_label(demandeCommercialeForm.secheuse.BAC, 'Bac', {'label_attr': {'class': 'mb-2 text-muted'}}) }}
    {{ form_widget(demandeCommercialeForm.secheuse.BAC, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(demandeCommercialeForm.secheuse.BAC) }}
</div>
